extend base

block content
    p Hi #{name},
    p You have recently registered for an account in our web service.
    p Please click the following link in order to activate your account.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='center')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Activate Account
    p If you do not feel that you have registered for a new account, please ignore this email.
    p Warm regards,
    p - Attendance Inc.