extend base

block content
    p Hi #{name},
    p Our systems note that you have asked for a password reset.
    p Below is the link to your password reset URL. Please do not share this with anyone.
    p You may click on the link below and we will redirect you to reset your password.
    p If for some reason you have not reset your password, please ignore this email.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='center')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Reset Password!
    p Warm regards,
    p - Attendance Inc.