extend base

block content
    p Hi #{name},
    p Our systems note that you have failed to input your OTP for three times.
    p We are afraid that someone might try to access your account. You are temporarily blocked from accessing the MFA secure session for 24 hours.
    p It is recommended that you change your password as soon as possible as we are afraid someone might try to access your account.
    p Please contact the administrator if you think otherwise.
    p Warm regards,
    p - Attendance Inc.