extend base

block content
    p Hi #{name},
    p Our systems note that you have failed to input your OTP for three times.
    p We are afraid that someone might try to access your account. You are blocked from accessing the MFA secured session in 24 hours.
    p It is recommended that you change your password as soon as possible.
    p Please contact the administrator if you think otherwise.
    p Warm regards,
    p - Attendance Inc.