extend base

block content
    p Hi #{name},
    p This is a notification email informing that you have successfully reset your password to a new one.
    p If you did not reset your password, someone might be using your account.
    p Please contact administrator if you believe this is the case.
    p Warm regards,
    p - Attendance Inc.