extend base

block content
    p Hi #{name},
    p You have just changed your password for your Attendance account.
    p You are getting this email in order to confirm that it is really you who have changed it.
    p If you did not update your password, someone might be using your account.
    p Please contact administrator if you believe this is the case.
    p Warm regards,
    p - Attendance Inc.